tr:nth-child(even){ /*все четные р€ды*/
	background-color: #ddebf7;
}
td:nth-child(2n+3) { /*по столбцах, так как находитс€ ниже, перебывает цвет р€дов, если попал на окрашенную цветом €чейку*/
 	background-color: #f2f2de;
}