a[href^="http:"]
{
    color: #f70;
}
a[href^="https:"]
{
    color: #f70;
}

a[href*="google"]
{
    color:  #666;
}
a[target="_blank"]:after /*ссылка откроется в новом окне, значек*/
{
    content: " \21f1";
    display: inline-block;
    transform: scaleX(-1); /*для поворота значка направо*/

}